nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
}

body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 20px;
}

a{
    text-decoration-line: none;
    color: navy;
}

main{
    background-color: white;
    margin: 30px 150px 40px;
    padding: 25px;
}

h1{
    text-align: center;
}

article{
    border-bottom: 3px solid black;
}

footer{
    background-color: black;
    padding: 5px;
}

h5{
    text-align: center;
    color: white;
}